

<link href="~/css/AuthController/ForgotPassword.css" rel="stylesheet" />

<div class="forgot-wrapper">

    <div class="forgot-card card-glass">

        <h5 class="title">Forgot Password</h5>
        <p class="subtitle">
            Enter your email to receive reset link
        </p>

        @if (TempData["Msg"] != null)
        {
            <div class="alert custom-alert">
                @TempData["Msg"]
            </div>
        }

        <form asp-action="ForgotPassword" asp-controller="Auth" method="post">

            <div class="mb-3">
                <input name="email"
                       class="form-control custom-input"
                       placeholder="Enter your email"
                       required />
            </div>

            <button class="btn btn-modern w-100" id="btnSubmit">
                Send Reset Link
            </button>

        </form>

    </div>

</div>

<script>
        document.querySelector("form").addEventListener("submit", function () {
        const btn = document.getElementById("btnSubmit");
        btn.innerText = "Sending...";
        btn.disabled = true;
    });
</script>