@{
   ViewBag.Title ="Forgot Password | SalesPulseCRM" ;
}
<div class="card-glass p-4">
    <h4>Forgot Password</h4>

    @if (TempData["Msg"] != null)
    {
        <div class="alert alert-info">@TempData["Msg"]</div>
    }

    <form asp-action="ForgotPassword" asp-controller="Auth" method="post">
        <div class="mb-3">
            <label>Email</label>
            <input name="email" class="form-control" required />
        </div>

        <button class="btn btn-primary">Send Reset Link</button>
    </form>
</div>