
@{
    Layout = "";
    ViewBag.Title = "Forgot Password | SalesPulseCRM";
}
<div class="card-glass p-4">
    <h4>Reset Password</h4>

    <form asp-action="ResetPassword" asp-controller="Auth" method="post">
        <input type="hidden" name="token" value="@Context.Request.Query["token"]" />

        <div class="mb-3">
            <label>New Password</label>
            <input name="newPassword" type="password" class="form-control" required />
        </div>

        <button class="btn btn-success">Update Password</button>
    </form>
</div>